@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
input, textarea, select, label {
    font-family: inherit;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .login {
    margin: 20px auto;
    padding: 18px 20px;
    width: 200px;
    background: #3f65b7;
    background-clip: padding-box;
    border: 1px solid #172b4e;
    border-bottom-color: #142647;
    border-radius: 5px;
    background-image: -webkit-radial-gradient(cover, #437dd6, #3960a6);
    background-image: -moz-radial-gradient(cover, #437dd6, #3960a6);
    background-image: -o-radial-gradient(cover, #437dd6, #3960a6);
    background-image: radial-gradient(cover, #437dd6, #3960a6);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .login > h1 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  }
  
  .login-input {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 20px;
    padding: 0 9px;
    color: white;
    text-shadow: 0 1px black;
    background: #2b3e5d;
    border: 1px solid #15243b;
    border-top-color: #0d1827;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  }
  
  .login-input:focus {
    outline: 0;
    background-color: #32486d;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  }
  
  .lt-ie9 .login-input { line-height: 35px; }
  
  .login-submit {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #294779;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #adcbfa;
    background-clip: padding-box;
    border: 1px solid #284473;
    border-bottom-color: #223b66;
    border-radius: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
    background-image: linear-gradient(to bottom, #d0e1fe, #96b8ed);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
  }
  
  .login-submit:active {
    background: #a4c2f3;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
  }
  
  .login-help {
    text-align: center;
  }
  
  .login-help > a {
    font-size: 11px;
    color: #d4deef;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  }
  
  .login-help > a:hover {
    text-decoration: underline;
  }
  
  ::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  :-moz-placeholder { color: #bcc0c8 !important; }
  ::-webkit-input-placeholder { color: #bcc0c8; }
  :-ms-input-placeholder { color: #bcc0c8 !important; }
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
   

  /* new */
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

.bg-image {
    /* The image used */
    background-image: url('https://www.exam-prep.xyz/wp-content/uploads/2022/02/istockphoto-1323851976-170667a.jpg');
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.signin-form{
    color: rgb(15, 1, 1);
    font-weight: bold;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}
body {
  color: #999;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
}
.form-control {
    box-shadow: none;
    border-color: #ddd;
}
.form-control:focus {
    border-color: #4aba70; 
}
.signin-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px 0;
}
.signin-form form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signin-form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.signin-form .avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: #4aba70;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.signin-form .avatar i {
    font-size: 62px;
}
.signin-form .form-group {
    margin-bottom: 20px;
}
.signin-form .form-control, .signin-form .btn {
    min-height: 40px;
    border-radius: 2px; 
    transition: all 0.5s;
}
.signin-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.signin-form .btn {
    background: #4aba70;
    border: none;
    line-height: normal;
}
.signin-form .btn:hover, .signin-form .btn:focus {
    background: #42ae68;
}
.signin-form .checkbox-inline {
    float: left;
}
.signin-form input[type="checkbox"] {
    margin-top: 2px;
}
.signin-form .forgot-link {
    float: right;
}
.signin-form .small {
    font-size: 13px;
}
.signin-form a {
    color: #4aba70;
}
.small{
    margin-top: 10px;
}


div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #38547b;
    color: #fff;
  }
  
  button.btn-submit{
    background-color: #3d6399;
    color: #fff;
    width: 100%;
  }
  button.btn-submit:focus,button.btn-submit:hover{
    background-color: #9b4494;
  }
  
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  
  
  
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  
  
  input[type=button], input[type=submit], input[type=reset]  {
    cursor: pointer;
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 100px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=submit]:disabled{
    background-color: #f5f6f6;
    color: #7d7d7d;
  }
  
  input[type=text],input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus,input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #08d512;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  input[type=text].invalid-textbox,input[type=password].invalid-textbox{
  border-bottom: 2px solid #ed5558;
  }
  
  label.validation-message{
    color:#ed5558;
    text-align: center;
  }
  
  
  
  
  
  .alert {
    text-align: center;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
  }
  
  .success{
    text-align: center;
    padding: 20px;
    background-color:#249424; 
    color: white;
    margin-bottom: 15px;
  } 
