<app-home-header></app-home-header>
<div class="container ">
    <div class="row">
        <div class=" col-sm-6" >
           
           <img src="assets\images\mycourses.jpg" alt="#">
   
         </div>
        <div class="col-sm-6">
             
         <div class="card carddiv">
           <div class="card-body">
             <h5 class="card-title">Special title treatment</h5>
                 
                   
                 <p>ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. 
                   The organization had a humble beginning providing skill training programs to selected academic institutions.
                   Over the years, ICTAK has grown to a prime service provider of all ICT and innovation-related training and capacity-building programs in the state.</p>
                </div>
                </div>
      </div>
   </div>
 </div>