
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/video/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h1 class="h1" style="color:yellow">Industry focused ICT skills development programes for students.</h1>
            <h2></h2>
            <h2><em>Your</em> Classroom</h2>
            <div class="main-button">
                <div class="scroll-to-section" ><a href="#section2" style="color:yellow">Discover more</a></div>
            </div>
        </div>
    </div>
</section>