<footer layout="row" class="md-padding" style="background-color: brown;padding:10px">
    <div>
        <p style="margin:0px;color:whitesmoke;text-align: center;">
            <br>
            <span class="mdi mdi-facebook mdi-24px"></span> &nbsp;&nbsp;
            <span class="mdi mdi-twitter mdi-24px"></span>  &nbsp;&nbsp;
            <span class="mdi mdi-instagram mdi-24px"></span> &nbsp;&nbsp;
            <br>
            <br>
            GF-1 Thejaswini Building, Technopark Rd, Thiruvananthapuram, Kerala 695581
            <br>
            ICT Academy of Kerala is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.
            <br>
            <br>
    </div>
  </footer>